---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });

  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={`Hill | ${post.data.title}`}>
  <main>
    <header class="">
      <h1 class="">{post.data.title}</h1>
      <h4 class="">{post.data.summary}</h4>

      <nav class="">
        {
          post.data.tags.map((t) => {
            return <p>{t}</p>;
          })
        }
      </nav>
    </header>
    <main class="">
      <Content />
    </main>
  </main>
  <style>
    
  </style>
</Layout>
