---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });

  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
import Prose from "@/components/Prose.astro";
---

<Layout title={`Hill | ${post.data.title}`}>
  <main class="w-full p-2 grow">
    <header class="dark:bg-blue/50 dark:text-gray-300 text-gray-700  w-full h-32 p2 flex flex-col justify-evenly items-center md:h-48 lg:h-52">
      <h1 class="font-gopher text-3xl">{post.data.title}</h1>
      <h4 class="font-gotham text-sm">{post.data.summary}</h4>

      <nav class="flex justify-between items-center mt-4 w-full lg:w-3/4 md:w-3/4">
        {
          post.data.tags.map((t) => {
            return <p class="font-gotham text-lg">{t}</p>;
          })
        }
      </nav>
    </header>
    <main class="bg-gray-200 dark:bg-transparent p-2 mt-5 grid place-items-center">
      <Prose>
        <Content />
      </Prose>
    </main>
  </main>
  <style>
    
  </style>
</Layout>
