---
import { animate } from "framer-motion";
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";

const anim = {
    old: {
      name: 'fadeIn',
      delay: "1.5s",
      duration: '1.5s',
      easing: 'easeOut',
      fillMode: 'forwards'
    },
  new: {
    name: 'fadeOut',
    delay: "1.5s",
    duration: '1.5s',
    easing: 'easeIn',
    fillMode: 'backwards'
  }
}

const mySlide = {
  forwards: anim,
  backwards: anim
}
---

<Layout title="Hill | About">
  <main class="w-full grow" >
    <header
      class="w-full h-screen flex flex-col justify-evenly items-center lg:flex-row dark:bg-blue/50"
      data-depth="0.1"
    >
      <h1 class="text-blue dark:text-gray-100 font-gopher text-5xl flex flex-col md:text-7xl lg:text-8xl text-text">
        <span>Hill</span>
        <span> Onyechekwa</span>
      </h1>
      <img
        class="shadow-lg shadow-slate-500 dark:shadow-gray-900 rounded-md w-56 md:w-72 lg:w-80"
        src="/images/hillz1.jpg"
        alt="a photo of hill"
      />
    </header>
    <main class="w-full">
      <section class="w-full h-screen p-2 flex flex-col space-between items-center">
        <h3 class="text-gray-700 dark:text-gray-300 font-gopher capitalize text-3xl md:text-4xl lg:text-5xl mx-auto">
          a little about me.
        </h3>
        <section
          class="text-gray-700 dark:text-gray-300 w-full h-3/4 relative flex flex-col justify-evenly items-center gap-8 md:px-10 font-gotham"
        >
          <p class="md:text-lg lg:text-xl">
            I'm a <strong>Frontend Developer</strong> with a strong background in
            creating building <strong
              >aesthetically appealing and user-friendly web experiences
            </strong> and problem solving web applications. I am interested in finding
            roles where I can <strong
              >challenge myself and provide value to users of the web</strong
            >. I am eager to leverage my expertise and experience as a valuable
            addition to a dynamic team, helping the compay acheive its goals.
          </p>
          <p class="md:text-lg lg:text-xl">
            I have a keen interest in embedded systems and robotics software
            development. I'm learning new things everyday to gain more insight
            and experience about that ecosystem. I'm currently learning the rust
            programming language.
          </p>
          <p class="md:text-lg lg:text-xl">
            When I'm not building more things into the simulation of our
            existing space-time continum, I spend tiime in my home city in
            Lagos, Nigeria with family and friends.
          </p>
        </section>
      </section>
     
    </main>
  </main>

<script>
  // import { gsap } from "gsap";
  // import { ScrollTrigger } from "gsap/all";
  // import Lenis from "lenis";

  // gsap.registerPlugin(ScrollTrigger);

  // const lenis = new Lenis();

  // function raf(time) {
  //   lenis.raf(time);
  //   requestAnimationFrame(raf);
  // }

  // requestAnimationFrame(raf);

  // let mm = gsap.matchMedia();

  // mm.add("(min-width: 800px)", () => {
  //   const aboutHero = document.querySelector("#about-hero");
  //   const aboutContent = document.querySelector("#about-content");
  //   const skills = document.querySelector("#skills");

  //   // about hero styles
  //   const tl = gsap.timeline();

  //   gsap.utils.toArray("#about-hero > h1 > span").forEach((span, index) => {
  //     gsap.to(span, {
  //       y: index === 0 ? -30 : 30,
  //       x: index === 0 ? -100 : 100,
  //       opacity: 0,
  //       ease: "power2.inOut",
  //       stagger: 0.1,
  //       delay: 0.3,
  //       scrollTrigger: {
  //         trigger: aboutHero,
  //         start: "3px left",
  //         end: "center",
  //         scrub: true,
  //       },
  //     });
  //   });

  //   gsap.utils.toArray(".about-images").forEach((image, index) => {
  //     // console.log(image)
  //     gsap.to(image, {
  //       x: index === 0 ? -80 : 80,
  //       opacity: 0,
  //       ease: "power2.inOut",
  //       stagger: 0.1,
  //       delay: 0.3,
  //       scrollTrigger: {
  //         trigger: aboutHero,
  //         start: "5% left",
  //         end: "center",
  //         scrub: true,
  //       },
  //     });
  //   });

  //   gsap.utils.toArray(".about-sections p").forEach((sect, index) => {
  //     gsap.fromTo(
  //       sect,
  //       {
  //         x: -10,
  //         opacity: 0,
  //       },
  //       {
  //         x: 0,
  //         opacity: 1,
  //         ease: "power2.inOut",
  //         stagger: 0.1,
  //         delay: 0.1,
  //         scrollTrigger: {
  //           trigger: aboutContent,
  //           start: "top bottom-=50",
  //           end: "bottom center",
  //           scrub: true,
  //         },
  //       }
  //     );
  //   });
  // });
</script>
</Layout>