---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostList from "../components/PostList.astro";
const posts = await getCollection("posts");
---

<Layout title="Hill | Blog">
  <main class="p-3">
    <header class="p-2">
      <h2 class="font-gopher text-4xl">
        Blog.
      </h2>
    </header>

    <main>
      <PostList posts={posts} />
    </main>
  </main>

</Layout>
