---
    import Layout from "../../public/Layout.astro"
---

<Layout title="Hill | Contact">
<main class="contacts-wrapper">
    <header id="contacts-hero">
        <h3>
            If you have any interesting projects you'd like me to be a part of, or just want to talk shop and share Ideas, contact me. I love getting involved in open source projects too.
        </h3>
        <img src="/illustrations/staringbeaniehill.svg" alt="" >
    </header>

    <section class="form-wrapper">
        <form name="contact" data-netlify="">
            <div class="form-control">
                <input type="text" name="name" id="first-name" placeholder="">
                <label for="name"> Name </label>
            </div>
            <div class="form-control">
                <input type="email" name="email" id="email" placeholder="">
                <label for="email"> Email </label>
            </div>
            <div class="form-control">
                <textarea name="message" id="message" cols="60" rows="10" placeholder=""></textarea>
                <label for="message"> Message </label>
            </div>
            <button type="submit">Let's Connect</button>
        </form>
    </section>
</main>

<style>
    
#contacts-hero {
    width: 100%;
    height: 100dvh;
    position: relative;
    

    h3 {
        font-family: var(--gopher);
        font-size: 1.2em;
        inline-size: 500px;
        position: relative;
        top: 20%;
        color: var(--primary-text);
        line-height: 1.7rem;
    }

    img {
        width: 450px;
        margin: 0 auto;
        position: absolute;
        top: 20%;
        left: 55%;
        transform: rotate(-45deg);
        z-index: 1;
    }
}


.form-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--base);
    border: 3px solid var(--base);
    position: relative;
    z-index: 1;


    .form-control {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-family: var(--gopher);
        padding: 5px;
        position: relative;
        margin-bottom: 40px;

        label {
            font-size: .6em;
            position: absolute;
            left: 15px;
            top: 20px;
            border: 1px solid transparent;
            padding: 3px;
            margin: 0;
            background-color: white;
            transition: top 300ms, color 300ms, border-color 300ms, font-size 300ms;
            z-index: 2;
        }

        input {
            border: 2px solid var(--primary-text);
            border-radius: 15px;
            font-family: var(--gopher);
            width: 500px;
            outline: none;
            padding: 15px 10px;
            position: relative;
            z-index: 1;

            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
                top: -5px;
                /* // left: -5px; */
                font-size: 14px;
                border-color: transparent;
                background-color: var(--primary-text);
            }
        }

        textarea {
            padding: 20px;
            position: relative;
            border: 2px solid transparent;
            font-family: var(--gopher);
            z-index: 1;

            & + label{
                left: 25px;
            }

            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
                top: -5px;
                /* // left: -5px; */
                font-size: 14px;
                border-color: transparent;
                background-color: var(--primary-text);
            }
        }
    }
}


form button {
    width: 250px;
    padding: 15px;
    border-radius: 25px;
    font-family: var(--gopher);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2em;
    border: 1px solid var(--accent-color);
    position: relative;
    left: 20%;
    color: var(--primary-text);
    background-color: var(--accent-color);
    cursor: pointer;

    &:after {
        content: var(--btn-arrow);
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 280px;
        border-radius: 50%;
        padding: 13px;
        color: var(--bg);
        fill: var(--bg);
        background-color: var(--btn-color);
        border: 2px solid var(--accent-color);
    }
}


.contacts-wrapper{
    padding: 50px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
</style>
</Layout>