---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hill | Contact">
    <main class="contacts-wrapper">
        <header class="p-2 h-screen flex flex-col justify-around items-center">
            <h3 class="font-gotham text-md text-center">
                If you have any interesting projects you'd like me to be a part
                of, or just want to talk shop and share Ideas, contact me. I
                love getting involved in open source projects too.
            </h3>
            <img class="w-60" src="/illustrations/staringbeaniehill.svg" alt="" />
        </header>
        <section class="">
            <section class="">
                <form name="contact">
                    <div class="">
                        <input
                            type="text"
                            name="name"
                            id="first-name"
                            placeholder=""
                        />
                        <label for="name"> Name </label>
                    </div>
                    <div class="">
                        <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder=""
                        />
                        <label for="email"> Email </label>
                    </div>
                    <div class="">
                        <textarea
                            name="message"
                            id="message"
                            cols="60"
                            rows="10"
                            placeholder=""></textarea>
                        <label for="message"> Message </label>
                    </div>
                    <button type="submit">Let's Connect</button>
                </form>
            </section>

            <h3>Let's do cool stuff together!</h3>
        </section>
    </main>

   
</Layout>
