---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.tsx";
import { getCollection } from "astro:content";
import ProjectList from "../components/ProjectList.astro";
const projects = await getCollection("projects");
---

<Layout title="Hill | Home">
    <main class="home-container">
        <header class="home-hero">
            <article id="first-col">
                <h3>
                    <span>Web</span>
                    <span>Engineer</span>
                    <small>
                        <span>Typescript</span>
                        <span>Rust</span>
                        <span>GraphQl</span>
                    </small>
                </h3>
                <h3>
                    <span>Technical</span>
                    <span>Writer</span>
                </h3>
            </article>
            <article id="second-col">
                <p>
                    I have an invested interest in the multi-faceted parts of
                    software engineering and computer programming and
                    implementing them to solve real problems that affect me and
                    my environment.
                </p>

                <Button
                    btnType="primary"
                    content="See My Projects"
                    url="./projects"
                />
            </article>

            <h1>
                <span>Hillary</span>
                <span>Onyechekwa</span>
            </h1>
        </header>
        <main class="index-main">
            <section id="main-inner__wrappper">
                <section id="about" class="main-sections">
                    <article>
                        <h3>about me.</h3>
                    </article>
                    <p>
                        I'm a <strong>web engineer</strong> with a strong background
                        in creating building <strong
                            >aesthetically appealing and user-friendly web
                            experiences
                        </strong> and problem solving web applications. I am interested
                        in finding roles where I can <strong
                            >challenge myself and provide value to users of the
                            web</strong
                        >. I am eager to leverage my expertise and experience as
                        a valuable addition to a dynamic team, helping the
                        compay acheive its goals.
                    </p>
                    <p>
                        I also an embedded systems and robotics enthusiast and
                        working towards gaining experience in that technology
                        niche someday.
                    </p>
                </section>
            </section>
            <section id="index-projects">
                <h2>Projects</h2>
                <p>
                    Here's a list of some of my projects.<p>
                        <!-- add project Card component here. -->
                        <ProjectList projects={projects} />
                    </p>
                </p>
            </section>
            <style>
                .home-hero {
                    width: 100%;
                    height: 100dvh;
                    /* grid */
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    justify-content: space-evenly;
                    align-items: center;

                    font-family: var(--gopher);
                    color: var(--primary-text);
                    background-color: var(--bg);

                    article#first-col {
                        padding: 5px 30px;
                    }

                    article#first-col h3 {
                        /* display: block; */
                        position: relative;
                        top: 30px;

                        span {
                            display: block;
                            font-family: var(--gotham);
                            text-transform: capitalize;
                            font-size: 1.7em;
                        }

                        small span {
                            display: inline-block;
                            font-size: 0.7em;
                            font-family: var(--gotham);
                            font-weight: 400;
                            color: var(--primary-text);
                        }
                    }

                    h1 {
                        grid-area: 2/1/3/3;
                        justify-self: center;
                        font-size: 8em;
                        font-weight: 800;

                        span {
                            font-family: var(--gopher);
                            display: block;
                            text-align: center;
                            text-transform: capitalize;
                            position: relative;

                            &:nth-child(2) {
                                position: relative;
                                top: -30px;
                            }
                        }
                    }
                }

                article#first-col h3:nth-child(2) {
                    position: relative;
                    top: 7rem;
                }

                article#second-col {
                    p {
                        display: block;
                        position: relative;
                        top: 40px;
                        font-size: 1.25rem;
                        line-height: 1.3em;
                        word-wrap: break-word;
                        inline-size: 450px;
                    }
                }

                .index-main {
                    width: 100%;
                }

                section.index-main {
                    position: relative;
                    z-index: 2;
                }

                section#main-inner__wrapper {
                    border-radius: 25px;
                }

                section#about {
                    width: 100%;
                    height: 100dvh;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: var(--base);

                    article {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            text-transform: capitalize;
                            font-size: 2.7em;
                            font-family: var(--gopher);
                            text-align: center;
                            position: relative;
                            color: var(--primary-text);
                        }
                    }
                    p {
                        font-family: var(--gopher);
                        font-size: 1.24rem;
                        font-weight: 400;
                        inline-size: 450px;
                        line-height: 1.65rem;
                        color: var(--secondary-text);

                        strong {
                            color: var(--primary-text);
                        }
                    }
                }

                section#index-projects {
                    width: 100%;
                    height: 100dvh;
                    padding-top: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    h2 {
                        font-family: var(--gopher);
                        font-size: 2.6rem;
                        margin-left: 30px;
                        color: var(--primary-text);
                    }

                    > p {
                        margin-left: 30px;
                        font-family: var(--gopher);
                        font-size: 1.3rem;
                        color: var(--primary-text);
                    }

                    .project-list {
                        display: flex;
                        /* flex-direction: column; */
                        justify-content: space-between;
                        align-items: center;
                        overflow-x: hidden;
                    }
                }

                @media screen and (max-width: 600px) {
                    .home-hero {
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(4, 1fr);

                        article#first-col h3 {
                            span {
                                font-size: 1.3rem;
                            }
                        }

                        h1 {
                            font-size: 3.4em;

                            grid-area: 3 / 1 / 4 / 1;

                            position: relative;
                            top: 85px;
                            span {
                                margin-bottom: 15px;
                            }
                        }

                        article#first-col h3:nth-child(2) {
                            top: 2rem;
                            left: 60%;
                            width: 100px;
                        }

                        article#second-col {
                            grid-area: 2 / 1 / 3 / 1;
                            p {
                                font-size: 0.85rem;
                                padding-left: 20px;
                            }
                        }
                    }

                    section#about {
                        flex-direction: column;

                        p {
                            font-size: 0.9rem;
                            line-height: 1.3rem;
                        }
                    }

                    section#index-projects {
                        .project-list {
                            column-gap: 30px;
                        }
                    }
                }

                @media screen and (min-width: 800px) {
                }
            </style>
            <script>
                import gsap from 'gsap';
                import Lenis from '@studio-freight/lenis'

                gsap.registerPlugin(ScrollTrigger);

                const tl = gsap.timeline();

                const lenis = new Lenis()

                function raf(time){
                    lenis.raf(time)
                    requestAnimationFrame(raf)
                }

                requestAnimationFrame(raf);


                const firstCol = document.querySelector(".first-col");
                const secondCol = document.querySelector(".second-col");
                const heading = document.querySelector(".home-hero h1");
                const button = document.querySelector(".home-hero button");


                tl.to(firstCol, {
                  scrollTrigger : {
                    trigger: firstCol,
                    // start: "top   
                  }
                })
            </script>
        </main>
    </main></Layout
>
