---
import Layout from  "../layouts/Layout.astro";
import {getCollection} from "astro:content"
import ProjectList from "../components/ProjectList.astro"
const projects = await getCollection("projects")
---
<Layout title="Hill | Projects">
<main class="">
    <header class="w-full h-3/4 p-2 md:h-5/6 md:p-4">
        <h1 class="dark:text-gray-200 font-gopher text-3xl md:text-4xl md:pl-5 md:pb-3">
            <span>All</span>
            <span>Projects.</span>
        </h1>
        <p class="dark:text-gray-200 font-gotham text-lg font-bold md:text-xl md:px-8">
            Here are a few of my best projects that show case how I use the technologies in my tech stack to solve problems around my life and things that interest me.
        </p>
    </header>
    <section class="w-full flex justify-center items-center pt-8 md:p-10">
        <ProjectList projects={projects}/>
    </section>
</main>

<style>
 
</style>
<script>
    import {gsap} from "gsap";
    import { ScrollTrigger } from "gsap/all";
    import Lenis from "lenis";
    //TODO: refactor this animation code to work in different media queries.
    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline();

    const lenis = new Lenis();

    function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    let mm = gsap.matchMedia()

    mm.add("(min-width: 800px)", () => {

        const list = document.querySelector('.list');
        const projects = list.querySelector('.project-list')

        const projectsHero = document.querySelector(".projects-hero");
        const heading = projectsHero.querySelector("h1")
        const subHead = projectsHero.querySelector("p")

        console.log(projectsHero);

        tl.to(heading, {
            x: -60,
            opacity: 0,
            ease: "power2.out",
            scrollTrigger: {
                trigger: projectsHero,
                start: "100px",
                end: "bottom",
                scrub: true
            }
        }).to(subHead, {
            x: 60,
            opacity: 0,
            ease: "power2.out",
            scrollTrigger: {
                trigger: projectsHero,
                start: "100px",
                end: "bottom",
                scrub: true
            }
        }).fromTo(projects.querySelectorAll('article'), {
            opacity: 0,
            y: 10,
        }, {
            opacity: 1,
            y: 0,
            delay: 0.5,
            ease: 'power2.inOut',
            stagger: 0.1,
            scrollTrigger: {
                trigger: list,
                start: "top right",
                end: "bottom left",
                scrub: true
            }
        })
    })

</script>
</Layout>