---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hill | Skills">
  <main>
    <header class="w-full h-3/4 p-5">
      <h3 class="font-gopher text-3xl">Skills.</h3>
      <p class="font-gotham text-md">
        Most times, I work with Typescript(React and Vue), Graphql and Rust. I
        take interest in using modern animation tools and technniques to to
        bring a more neu-natural and realistic user experience to software
        especially on the web. 
      </p>
    </header>
      <section class="w-full h-auto flex flex-col justify-around items-center gap-y-8">
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/icons8-html.svg" alt="html" />
          <h4 class="font-gotham font-bold text-lg">HTML</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/icons8-css.svg" alt="css" />
          <h4 class="font-gotham font-bold text-lg">CSS</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/js.png" alt="javascript" />
          <h4 class="font-gotham font-bold text-lg">JavaScript</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/icons8-typescript.svg" alt="typescript" />
          <h4 class="font-gotham font-bold text-lg">TypeScript</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/icons8-sass.svg" alt="sass" />
          <h4 class="font-gotham font-bold text-lg">Sass</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/icons8-git.svg" alt="git" />
          <h4 class="font-gotham font-bold text-lg">Git</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/react.png" alt="react" />
          <h4 class="font-gotham font-bold text-lg">React</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/node-js-logo.png" alt="node" />
          <h4 class="font-gotham font-bold text-lg">Node</h4>
        </div>
        <div class="p-2 flex jusify-between items-center gap-x-6 rounded-md w-56 border border-black">
          <img class="w-12" src="/images/gql.png" alt="graphql" />
          <h4 class="font-gotham font-bold text-lg">Graphql</h4>
        </div>
    </section>
  </main>
  </Layout>
