---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hill | Teaching">
    <main>
        <header class="teaching-hero">
            <img src="/images/comm-img-1.jpg" alt="" />
            <h1>Teaching.</h1>
        </header>
        <main id="teaching-content">
            <section>
                <p>
                    One way I love to learn is to employ the use of the feyman
                    technique, teaching others how to program to reinforce my
                    own knowledge and find spaces and reasons to know more.
                </p>
            </section>
            <section>
                <p>
                    I grow to enjoy teaching pople how to program so I sometimes
                    volunteer to teach young people how to program and serve as
                    a guide and sometimes a mentor to get into the tech
                    ecosystem.
                </p>
            </section>
        </main>
    </main>
    <style>
        .teaching-hero {
            width: 100%;
            height: 100dvh;
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: var(--bg);

            img {
                width: 800px;
                border-radius: 8px;
                margin: 0 auto;
                position: relative;
                top: 10%;
            }

            h1 {
                font-size: 5.7em;
                font-family: var(--gopher);
                font-weight: 600;
                text-align: center;
                position: relative;
                top: 15%;
                color: var(--primary-text);
            }
        }

        #teaching-content {
            width: 100%;
            margin-top: 120px;
            section {
                width: 100%;
                height: 50dvh;
                padding: 15px;
                background-color: var(--bg);
                display: flex;

                p {
                    font-family: var(--gotham);
                    font-size: 1.2rem;
                    /* // font-weight: 600; */
                    inline-size: 600px;
                    color: var(--primary-text);
                }
                &:nth-of-type(odd) {
                    justify-content: flex-start;
                    align-items: center;
                }
                &:nth-of-type(even) {
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }

    </style>
</Layout>
