footer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    /* // padding-top: 20px; */
    position: relative;
    /* // top: 100px; */
    background-color: var(--bg);

    h3{
        font-size: 2.7em;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
        font-family: var(--gopher);
        color: var(--primary-text);
        position: relative;
        top: 10%;
    }

    h2{
        font-family: var(--gopher);
        font-size: 6.4em;
        font-weight: 700;
        position: relative;
        text-align: center;
        margin: 0 auto;
        color: var(--primary-text);
    }
    span{
        display: block;

    }

    button{
        width: 250px;
        padding: 15px;
        border-radius: 25px;
        font-family: vars(--gopher);
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.2em;
        color: var(--base);
        position: relative;
        border: 2px solid var(--base);
        background: none;
        position: relative;
        cursor: pointer;

        &:after{
            content: var(--btn-arrow);
            display: block;
            width: 50px;
            height: 50px;
            background-color: var(--base);
            border-radius: 50%;
            border: 2px solid var(--base);
            position: absolute;
            top: 0;
            left: 280px;
            padding: 13px;
        }
    }
}



footer nav{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
    font-family: var(--gopher);

    p{
        color: var(--primary-text);
    }

    ul{
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        list-style: none;
    }
    li{
        font-weight: 500;
        color: var(--base);

        a{
            color: var(--base);
        }
    }
    
}