footer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
    background-color: var(--bg);

    h3{
        font-size: 2.7em;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
        font-family: var(--gopher);
        color: var(--primary-text);
        position: relative;
        top: 10%;
    }

    h2{
        font-family: var(--gopher);
        font-size: 6.4em;
        font-weight: 700;
        position: relative;
        text-align: center;
        margin: 0 auto;
        color: var(--primary-text);
    }
    span{
        display: block;

    }
}


footer nav{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
    font-family: var(--gopher);

    p{
        color: var(--primary-text);
    }

    ul{
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        list-style: none;
    }
    li{
        font-weight: 500;
        color: var(--base);

        a{
            color: var(--base);
        }
    }
    
}


@media screen and (max-width: 600px){
    footer h3{
        font-size: 1.3em;
    }

    footer h2{
        font-size: 4rem;
    }

    footer nav{
        width: 200px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;
        ul{
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }   
}