---
---

<main id="loading-screen" class="fixed top-0 left-0 w-full h-full bg-blue/85 blug-lg backdrop-blur-lg grid place-items-center z-50">
    <img src="/illustrations/maskedsquintinghill.svg" alt="" class="w-36 animate-pulse">
</main>

<script>
    // if(!sessionStorage.getItem('initialLoadComplete')) {
    //     document.getElementById('loading-screen').style.display = 'grid'
    // }
</script>