---
const { prevUrl, nextUrl } = Astro.props;
---

<nav class="w-1/4 p-3 relative bottom-10 mx-auto flex flex-row justify-center items-center gap-x-10">
  {
    prevUrl && (
      <a class="font-gopher text-gray-700 dark:text-gray-300 lg:text-3xl" 
      href={prevUrl}>
        Prev
      </a>
    )
  }
  {
    nextUrl && (
      <a class="font-gopher text-gray-700 dark:text-gray-300 lg:text-3xl " 
      href={nextUrl}>
        Next
      </a>
    )
  }
</nav>
