---
import { getEntryBySlug, type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article
  class="bg-gray-700 dark:bg-blue/70 border border-x-2 border-y-2  border-black dark:border-gray-800 text-gray-100 shadow-lg shadow-gray-500 dark:shadow-gray-700 flex flex-col justify-evenly gap-8 items-center w-80 md:w-auto p-3 md:p-4 rounded-md"

>
  <a
    class="flex flex-col items-center justify-between gap-y-8 md:justify-around w-full flex-wrap "
    href={`/posts/${post.slug}`}
  >
    <h2 class=" font-gopher text-lg">{post.data.title}</h2>
    <p class="text-wrap line-clamp-1">{post.data.summary}</p>
    <ul class="w-auto flex items-center justify-between gap-x-5">
      {
        post.data.tags.map((t) => {
          return <li class="text-red font-gopher text-sm">{t}</li>;
        })
      }
    </ul>
  </a>
</article>
