---
import type { CollectionEntry } from "astro:content";
import Project from "./Project.astro";
import Prose from "./Prose.astro";
type Props = {
  projects: CollectionEntry<"projects">[];
};

const { projects } = Astro.props;
---

<section class="w-full grid place-items-center gap-5 relative">
  {
    projects.map((project) => {
      return (
        <Prose>
          <Project project={project} />
        </Prose>
      );
    })
  }
</section>

<style></style>
