---
import type { CollectionEntry } from "astro:content";
import Project from "./Project.astro";
type Props = {
  projects: CollectionEntry<"projects">[];
};

const { projects } = Astro.props;
---

<section
  class="grid grid-cols-1 justify-evenly items-center gap-y-5 md:grid md:grid-cols-2 md:justify-evenly md:items-center md:gap-4 lg:gap-12"
>
  {
    projects.map((project) => {
      return <Project project={project} />;
    })
  }
</section>

