---

---

<div class="dark:prose-p:text-gray-300 dark:prose-li:text-gray-300 dark:prose-code:text-red prose-code:text-blue   dark:prose-h2:text-gray-300 dark:prose-h3:text-gray-300 prose-p:font-gotham prose-p:text-sm prose-heaings:underline prose-h1:font-bold prose prose-h1:font-gopher prose-h1:text-3xl prose-h2:text-32xl prose-h2:font-gopher prose-h2:font-bold">
    <slot />
</div>