---
interface Props {
  title: string;
}

const { title } = Astro.props;
// import "../styles/variables.css"
import { ViewTransitions } from "astro:transitions";
import Loading from "@/components/Loading.astro";
import Nav from "../components/Nav.jsx";
import Footer from "../components/Footer.tsx";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="description"
      content="I am a fullstack web engineer that builds web sites and applications to solve business problems using the beauty of programming logic in combination with modern technological solutions, tools and techniques"
    />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" href="/favicons/android-chrome-192x192.png" />
    <link rel="stylesheet" href="/syntax-highlight/prism-synthwave84.css" />
    <link rel="stylesheet" href="/styles/variables.css" />
    <meta name="generator" content={Astro.generator} />
    <meta title={title} />
    <title>{title}</title>
    <ViewTransitions />
    <script is:inline src="/scripts/themeToggle.js"></script>
    <script src="../scripts/pageTransition"></script>
    <script src="../scripts/loading"></script>
  </head>
  <body class="overflow-x-hidden">
    <Loading />
    <main
      class="relative z-10 w-full p-1 bg-slate-300 dark:bg-gray-600 flex flex-col h-min min-h-screen"
      id="page-content"
    >
      <Nav client:load />
      <slot />
      <Footer />
    </main>
    <main id="transition-overlay" class="grid place-items-center fixed top-0 left-0 w-full h-full bg-blue dark:bg-gray-800 z-50 scale-y-0 origin-top ">
      <img src="/illustrations/staringbeaniehill.svg" alt="hillz" class="w-20" />
    </main>
    <style is:global>
      @font-face {
        font-family: "Gotham";
        src: url("/fonts/Gotham-Light.woff2") format("woff2");
        font-display: swap;
      }

      @font-face {
        font-family: "Gopher";
        src: url("/fonts/GopherText-Bold.woff2") format("woff2");
        font-display: swap;
      }

      body {
        /* text-rendering: optimizeLegibility;
    --webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative; */
        /* background-color: var(--bg); */
      }

      ul {
        list-style: none;
      }

      a {
        text-decoration: none;
      }
    </style>

    <script>
      
    </script>
  </body>
</html>
